%button {
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  height: 3.25rem;
  padding: 1rem .75rem;
  text-decoration: none;
  transition: all .3s ease;
  width: 100%;

  &:hover, &:active, &:focus, &.active {
    background-color: $blue;
    color: $white;
    outline: none;
  }
}
